.DS_Store

.idea/
node_modules/
test-results/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

secure/PHP_errors.log

_files/

ini/config.ini
ini/config_local.ini

media/library/*
!media/library/.htaccess

uploads/

secure/lib/flmngr/cache/
secure/lib/flmngr/tmp/
secure/lib/flmngr/files/
