.DS_Store

.idea/
.user.ini
__pycache__/
*.py[cod]
node_modules/
vendor/
test-results/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

secure/PHP_errors.log

_files/*
!_files/.htaccess
!_files/volna-mista/
_files/volna-mista/*
!_files/volna-mista/.htaccess
!_files/volna-mista/dotazniky/
_files/volna-mista/dotazniky/*
!_files/volna-mista/dotazniky/.htaccess

ini/config.ini
ini/config_local.ini

media/**
!media/**/
!media/**/.htaccess
!media/**/.gitkeep

uploads/
var/

secure/lib/flmngr/cache/
secure/lib/flmngr/tmp/
secure/lib/flmngr/files/
